In [ ]:
"""Q1. How do you comment code in Python? What are the different types of comments?"""
#Answer
# This is a single-line comment
x = 10

"""
This is a multi-line comment.
It can span multiple lines.
"""
x = 10

'''
Another example of a multi-line comment.
This one uses single quotes.
'''
x = 10

In [ ]:
'''Q2. What are variables in Python? How do you declare and assign values to variables?'''
#Answer

#In Python, variables are used to store data that can be referenced and manipulated throughout a program.
#They act as placeholders for values and can be used to manage and control the flow of data within your code.

#Syntax for Declaring and Assigning Values:
'''variable_name = value'''

#Integer Variable:
age = 25

#Floating-Point Variable:
height = 5.9
#String Variable:
name = "Alice"
#Boolean Variable:
is_active = True
#List Variable:
numbers = [1, 2, 3, 4, 5]
#Dictionary Variable:
person = {"name": "Bob", "age": 30}

In [4]:
"""Q3. How do you convert one data type to another in Python?"""
#Answer ; In Python, converting one data type to another is commonly done using type conversion functions.


#1.Convert to int: Converts a value to an integer.
x = "42"
y = int(x)  # y will be 42, an integer

#2.Convert to float: Converts a value to a floating-point number.

x = "3.14"
y = float(x)  # y will be 3.14, a float

#3.Convert to str: Converts a value to a string.

x = 42
y = str(x)  # y will be "42", a string

#4.Convert to list: Converts an iterable (like a string or a tuple) to a list.

x = "hello"
y = list(x)  # y will be ['h', 'e', 'l', 'l', 'o']

#5.Convert to tuple: Converts an iterable to a tuple.

x = [1, 2, 3]
y = tuple(x)  # y will be (1, 2, 3)

#6.Convert to set: Converts an iterable to a set.

x = [1, 2, 2, 3]
y = set(x)  # y will be {1, 2, 3}

#7.Convert to dict: Converts a sequence of key-value pairs (or a dictionary) to a dictionary.

x = [(1, 'a'), (2, 'b')]
y = dict(x)  # y will be {1: 'a', 2: 'b'}

#8.Convert to bool: Converts a value to a boolean.

x = 0
y = bool(x)  # y will be False

In [6]:
"""Q4. How do you write and execute a Python script from the command line?"""

#Answer
# hello.py

print("Hello, World!")

Hello, World!

In [8]:
'''Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].'''

#Answer
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]  # start at index 1, go up to but not including index 3
print(sub_list)  # Output: [2, 3]

[2, 3]

In [10]:
'''Q6. What is a complex number in mathematics, and how is it represented in Python?'''
#Answer
z = complex(3, 4)  # 3 is the real part, 4 is the imaginary part

#Using the j notation in python programing:
z = 3 + 4j  # 3 is the real part, 4 is the imaginary part

z = 3 + 4j

real_part = z.real  # 3.0
imaginary_part = z.imag  # 4.0

print("Real part:", real_part)
print("Imaginary part:", imaginary_part)

Real part: 3.0
Imaginary part: 4.0

In [11]:
z1 = 3 + 4j
z2 = 1 + 2j

# Addition
add = z1 + z2  # (3 + 4j) + (1 + 2j) = 4 + 6j

# Subtraction
sub = z1 - z2  # (3 + 4j) - (1 + 2j) = 2 + 2j

# Multiplication
mul = z1 * z2  # (3 + 4j) * (1 + 2j) = 3 + 6j + 4j + 8j^2 = 3 + 10j - 8 = -5 + 10j

# Division
div = z1 / z2  # (3 + 4j) / (1 + 2j) = (3 + 4j) * (1 - 2j) / (1^2 + 2^2) = (3 - 6j + 4j - 8) / 5 = -5 / 5 + (-2j) / 5 = -1 - 2/5j

In [13]:
# Define complex numbers
z1 = 2 + 3j
z2 = 1 - 4j

# Arithmetic operations
sum_z = z1 + z2
difference_z = z1 - z2
product_z = z1 * z2
quotient_z = z1 / z2

# Print results
print("Sum:", sum_z)
print("Difference:", difference_z)
print("Product:", product_z)
print("Quotient:", quotient_z)

# Access real and imaginary parts
print("Real part of z1:", z1.real)
print("Imaginary part of z1:", z1.imag)

Sum: (3-1j)
Difference: (1+7j)
Product: (14-5j)
Quotient: (-0.5882352941176471+0.6470588235294118j)
Real part of z1: 2.0
Imaginary part of z1: 3.0

In [16]:
'''Q7. What is the correct way to declare a variable named age and assign the value 25 to it?'''
#Answer
age = 25
print(type(age))

<class 'int'>

In [18]:
'''Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?'''
#Answer
price = 9.99
print(type(price))  # Output will be <class 'float'>

<class 'float'>

In [20]:
'''Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?'''
#Answer
name = "Jane Doe"
print(name)

Jane Doe

In [22]:
'''Q10. Given the string "Hello, World!", extract the substring "World".'''
#Answer
# Given string
text = "Hello, World!"

# Extract the substring "World"
substring = text[7:12]  # Start at index 7, up to but not including index 12

print(substring)  # Output: World

World

In [23]:
'''Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.'''
#Answer
'''If you are currently a student, you would write:'''
is_student = True
'''If you are not currently a student, you would write:'''
is_student = False
'''To check the value of is_student, you can print it:'''
print(is_student)  # Output will be either True or False

False